.navbar {
  box-shadow: 1px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 0.8rem 8rem;
}

.navbar .navbarLeft,
.navbar .navbarRight {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 30px;

  margin-bottom: 1rem;
  margin-left: 2rem;
}

.navbar a {
  text-decoration: none;
  color: var(--black);
}

.navbar .navbarRight .login {
  background-color: var(--black);
  color: var(--white);
  border-radius: 1.5rem;
  padding: calc(0.5rem + 3px);
  font-weight: 700;
}

.navbar .navbarRight .advertise {
  border: 3px solid var(--blue-base);
  background-color: transparent;
  border-radius: 1.5rem;

  padding: 0.5rem;
  font-weight: 700;
}
